body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: white;
    width: 400px;
    border-radius: 5px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-title {
    display: flex;
    align-items: center;
}

.header1 {
    margin-left: 10px;
    margin-right: 5px;
}

.title {
    margin: 10px;
}

.title-text {
    margin: 2px
}

.header2 {
    margin-right: 10px;
}

.back-img {
    height: 400px;
    margin-bottom: 10px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-icons {
    display: flex;
    justify-content: space-between;

}

.text-container {
    padding: 15px;
}
